
        html{
            padding: 0px;
            border: 0px;
            left: 0px;
            right: 0px;
            top: 0px;
            bottom: 0px;
            margin: 0px;
            height: 100%;
            min-width: 600px;
            font-family: 'ITC Avant Garde Gothic Demi', arial;
            overflow:hidden;
        }
        body{
            margin:0px;
            width: 100%;
            height:100%;
        }
        a{
            text-decoration:none;
            color: white    ;
            font-size: 125%;
        }
        a:link{
            color: white;
        }
        .header {
            position: relative;
            top: 0px;
            width: 100%;
             box-shadow: 0px 5px 3px #888; 
            -moz-box-shadow: 0px 5px 3px #888;
            -webkit-box-shadow: 0px 5px 3px #888;
            height: 70px;
            background:rgba(255,255,255,1);
            z-index: 10;
            min-width: 600px;
            background-color: black;
        }
        .alignLeft{
            float: left;
                position: relative;
                left: 1%;
                width: 47%;
                height: 100%;
                display: inline;
                vertical-align:middle;
        }
        .alignRight{
                float:left;
                position: relative;
                left: 1%;
                width: 47%;
                height: 100%;
                display: inline;
        }
        .listItemSeparator{
            padding-right: 0.2%;
            padding-left: 0.2%;    
        }

        .menuItem{
            display: inline-block;
                height: 80%;
                width: 98.9%;
                margin-top: 2%;   
                vertical-align:middle;
        }
        .menuItemRight{
                display: inline-block;
                margin-top: 2%;
                width: 30%;
                vertical-align:middle;
                min-width: 80px;
        }
        .menuItemLeft{
                display: inline-block;
                width: 49%;
                vertical-align:middle;

        }
        .menuInnerItem{
            display: table-cell;
            vertical-align:middle;
        }
        .socialIcon{
            width: 30%;
            display: table-cell;
            vertical-align:middle;
        }
        .socialIconImg{
            width: 30px;
            padding-left: 5px;
            padding-right: 5px;
            height: 30px;
             border-radius: 7px 7px 7px 7px;
            -webkit-border-radius: 7px 7px 7px 7px;
            -moz-border-radius: 7px 7px 7px 7px;
        }
        .main {
            min-width: 600px;
            display:block;
            position: relative;
            padding-left: 0.2%;
            width: 100%;  
            float: left;
            left: -3px;
            height: 90%;
            clear: both;
        }
        /*.footer{
            display:block;
            position: relative;
            left:-4px;
            width: 100%;
            overflow:auto;
        }*/
.container {
  width: 100%;
    position:relative;
    height: 100%;
}

.sub_menu_list{
    width: 100%;
    background-color: #E0E0E0;
    min-width:600px;
}
.sub_menu_links{
    color: black;
    font-size: 100%;
}
.sub_menu_item{
    width: 49.7%;
    height: 100%;
    padding: 1% 0% 0% 0%;
    display: inline-block;
    position: relative;
    margin: 0px auto;
    align-content:center;
    border-bottom: 5px solid #E0E0E0;
    border: 5px;
    min-width:144px;
}
.sub_menu_item_selected{
    width: 49.7%;
    height: 100%;
    padding: 1% 0% 0% 0%;
    display: inline-block;
    position: relative;
    margin: 0px auto;
    align-content:center;
    border-bottom: 5px solid #CC6633;
    min-width:144px;
}
.inner_container {
  
  background-color: white;
  text-align: center;
  border-radius: 5px 0 0 5px;
  height:90%;
    width: 100%;
  overflow: auto;
  float: left;
    
}
.left_flank{
    
}
form{
    height: 100%;
}
.form_inner_left{
    display:inline-block;
    margin: auto 0px;
    width: 46%;
    float:left;
}
.form_inner_right{
    display:inline-block;
    margin: auto 0px;
    width: 46%;
    float:right;
}
[type=text] {
  display: block;
  margin: 0 auto;
  width: 200px;
  border: 0;
  border-bottom: 1px solid rgba(0,0,0,.2);
  height: 45px;
  line-height: 30px;  
  margin-bottom: 10px;
  font-size: 1em;
  color: rgba(0,0,0,.4);
  font-family: 'ITC Avant Garde Gothic Demi', arial;
}
._numericDisplaySize{
    width: 60px;
    display: inline;
}

textarea{
    resize:none;
    display: block;
    margin: 0 auto;
    width: 200px;
    border: 0;
    border-bottom: 1px solid rgba(0,0,0,.2);
    height: 100px;
    line-height: 30px;  
    margin-bottom: 10px;
    font-size: 1em;
    color: rgba(0,0,0,.4);
    font-family: 'ITC Avant Garde Gothic Demi', arial;
}
textarea:required{
   color: rgba(255, 0, 0, 0.5);
}
textarea:invalid{
   color: rgba(255, 0, 0, 0.5);
}
textarea:valid{
   color: initial;
}
input:required{
   color: rgba(255, 0, 0, 0.5);
}
input:invalid{
    color: rgba(255, 0, 0, 0.5);
}
input:valid{
    color: initial;
}
[type=submit] {
  margin-top: 25px;
  width: 80%;
  border: 0;
  background-color: #53CACE;
  border-radius: 5px;
  height: 50px;
  color: white;
  font-weight: 400;
  font-size: 1em;
}

[type='text']:focus {
  outline: none;
  border-color: #53CACE;
}
